figure {
    width:auto;
    float: left;
    margin-left:80px;
    text-align: center;
    display:inline-block;
}
p
{
    font-family:monospace;
    color:blue;
    font-size:10pt;
    margin-top:-15px;
}
h1
{
    font-size:12pt;
    margin-top:-0.5px;
    color: #A11909;
}
img
{
    width:120px;
    height:150px;
    border:3px solid #3709A1;
    margin: 0 auto;
    border-radius:20px;
    
}
h2
{
    text-align:center;
    color:#F1FD4B;
    font-family:cursive;
    background:radial-gradient(red,black);
    font-size:25pt;
    margin-bottom:10px;
    margin-left:200px;
    margin-right:200px;
    border-radius:10px;
} 
.larger:hover{ 
    -webkit-transform: scale(1.5);
} 
#main
{
    background-image: url(nbg.jpg);
}